.App {
  display: flex;
  flex-flow: column;
  text-align: center;
}

.title-container {
  background-color: rgb(85, 82, 77);
  border-radius: 10px;
  margin: 0 20%;
}

.title {
  color: rgb(207, 207, 207);
  flex: 1 1 auto;
}